<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/style.css">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://kit.fontawesome.com/18ec058639.js" crossorigin="anonymous"></script>
  
  <title>jc app</title>
</head>

<body>

  <div class="container" style="text-align: left;line-height: 2.5cap; position: fixed; z-index: 5;" id="infos">
    <h1 style="text-align: center;">Comment Jouer ?</h1>
    <hr>
    Ce jeu est basé sur le chiffrement de César <br>
    Le <b>chiffrement de César</b> est un des plus anciens et simples algorithmes de chiffrement par substitution.
    Utilisé par Jules César pour protéger ses communications militaires, il consiste à remplacer chaque lettre du
    texte par une autre située un certain nombre de positions plus loin dans l’alphabet.
    <br>
    <b>Fonctionnement</b> : On choisit un décalage, par exemple 3, et chaque lettre est remplacée par la lettre
    située 3 positions plus loin. Ainsi, `A` devient `D`, `B` devient `E`, et ainsi de suite. Si on dépasse la fin
    de l’alphabet, on revient au début.
    <br>
    <b>Exemple</b> : <br>
    - Texte à chiffrer : `BONJOUR` <br>
    - Décalage de 3 : `ERQMRXU` <br>

    <b>Décryptage</b> : Pour retrouver le texte original, on effectue l’opération inverse en décalant chaque
    lettre dans le sens opposé.
    <button id="closeInfos">Fermer</button>
  </div>
          
  <div class="container">
    <h1>Jule César - Jeu de Cryptage  <i class="fa-solid fa-circle-info"  id="infobtn" title="comment jouer" style="cursor: pointer; padding-left: 35px;"></i></h1>
    
    <h2>Niveau : <span id="level"><%- lev.match(/L(.*?):/)[1] %></span></h2>
    <div class="form-group">
      <label for="shift">Indice d'encodage :</label>
      <input type="hidden" id="code" value="<%- lev.match(/\{(.*?)\}/)[1]  %>" />
      <textarea style="font-size: 16px; width: 100%;"
        readonly ><% if(lev.match(/\*(.*?)\*/) != null){%><%-lev.match(/\*(.*?)\*/)[1]%><% }else{%><%-lev.match(/\{(.*?)\}/)[1]%><%}  %></textarea>
    </div>

    <form class="" role="form">

      <div class="encoded-message">
        Message codé: <span id="texteCode"> </span>
      </div>
      <div class="form-group">
        <label for="decodedMessage">Entrez le message décodé :</label>
        <input type="text" id="prop" />
      </div>
      <input type="hidden" id="texteACode" value="<%- lev.match(/"(.*?)"/)[1]  %>"/>
      
      <button type="reset" role="button" class="buttonreset">Effacer Tout</button>
      <button type="submit" role="button" class="buttoncon">Soumettre</button>
      <button id="solutionButton">Solution 
      </button>
      <div class="solution" id="solutionBox">
        <p id="solutionText">Réponse correcte : VOICI LE MESSAGE</p>
      </div>

    </form>
    </section>

    <script>
      $('#infos').hide();
      $('#infobtn').on('click',() => {
        $('#infos').css({"animation":"animInfosIn 2s"});
        $('#infos').show(1000);
      });
      $('#closeInfos').on('click',() => {
        $('#infos').css({"animation":"animInfosOut 2s"});
        $('#infos').hide(1000);
      });
      

    </script>
    <script src="../assets/js/jc.js"></script>

</body>

</html>